<nav class="navbar navbar-expand-md">
    <div class="container flex-row justify-content-between">
        <h1 class="navbar-brand">
            <a href="{{ site.url }}">
                <img src="{{ site.url | append: '/assets/images/logo-white.png' }}" alt="就労支援トライズ大通ロゴ">
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#collapsibleNavbar">
            <ul class="navbar-nav">
                {% for item in site.data.menu %}
                    <li class="nav-item">
                        <a href="{{ item.link | relative_url }}" class="nav-link{% if item.name == page.title %} active{% endif %}">{{ item.name }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item mobileonly">
                    <a href="tel:011-252-7660" class="nav-link icon phone">
                        <svg viewBox="0 0 16 16" class="bi bi-telephone-fill" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="mailto:odori@tryze.biz" class="nav-link icon mail">
                        <svg viewBox="0 0 16 16" class="bi bi-envelope-fill" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>