<section class="section pattern news">
    <div class="container">
        <h2 class="title">
            <span class="maintitle">{{ section.title }}</span>
            <span class="subtitle">{{ section.subtitle }}</span>
        </h2>
        <div class="content-container">
            <ul class="news-list">
                {% for post in site.posts %}
                    <li class="item news-item">
                        <p class="date-tag"><span class="date">{{ post.date | date: '%Y.%m.%d' }} </span><span class="tag">New</span></p>
                        <a href="">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>