@import "../base/variables";
@import "../base/base";

.hero {
    width: 100%;
    height: 70rem;
    background: url(../../assets/images/hero-curved.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
    color: $color-light;
    margin-bottom: 6rem;
    overflow-y: hidden;
    .title, .desc {
        z-index: 1;
    }
    .title {
        margin-top: 16rem;
        margin-bottom: 3rem;
    }
    .down-arrow {
        width: 10rem;
        height: 10rem;
        background-color: $color-light;
        border-radius: 100%;
        position: absolute;
        bottom: -5rem;
        z-index: 1;
        .bi-arrow-down-short {
            width: 4rem;
            fill: $color-dark;
            position: absolute;
            left: 25%;
            top: 25%;
            transform: translate(15%, -30%);
        }
    }
}