// colors
$color-primary: #036eb8;
$color-secondary: #2fa8e1;
$color-dark: #333333;
$color-light: #f2f2f2;

// font families
$font-family-primary: 'M PLUS Rounded 1c', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

// font sizes
$font-size-xg: 5rem;
$font-size-lg: 4rem;
$font-size-md: 3rem;
$font-size-md-sm: 2.5rem;
$font-size-sm: 2rem;
$font-size-sm-xs: 1.5rem;
$font-size-xs: 1rem;

// font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// letter spacing
$letter-spacing-lg: 0.3rem;
$letter-spacing-md: 0.2rem;
$letter-spacing-sm: 0.1rem;

// for responsive
$pc: 1200px;  // use min-width: $pc
$smaller-than-pc: 1199px; // use max-width: $smaller-than-pc
$tablet: 767px;  // use max-width: $tablet
$mobile: 576px;  // use max-width: $mobile
$smaller-than-mobile: 575px; // use min-width: $smaller-than-mobile




